<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xh.media.dao.LogXhMediaProgramAnalysisMapper" >
  <resultMap id="BaseResultMap" type="com.xh.media.model.LogXhMediaProgramAnalysis" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="DATE" property="date" jdbcType="VARCHAR" />
    <result column="HOUR" property="hour" jdbcType="VARCHAR" />
    <result column="MINUTE" property="minute" jdbcType="VARCHAR" />
    <result column="ORIGIN_ID" property="originId" jdbcType="VARCHAR" />
    <result column="ORIGIN_NAME" property="originName" jdbcType="VARCHAR" />
    <result column="CHANNEL_ID" property="channelId" jdbcType="VARCHAR" />
    <result column="CHANNEL_NAME" property="channelName" jdbcType="VARCHAR" />
    <result column="GLOBAL_ID" property="globalId" jdbcType="VARCHAR" />
    <result column="CHINESE_NAME" property="chineseName" jdbcType="VARCHAR" />
    <result column="PUB_DATE" property="pubDate" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="SMALLINT" />
    <result column="PLAY_TIME" property="playTime" jdbcType="INTEGER" />
    <result column="TIME_LENGTH" property="timeLength" jdbcType="INTEGER" />
    <result column="PLAY_NUMBER" property="playNumber" jdbcType="INTEGER" />
    <result column="PLAY_USER_NUMBER" property="playUserNumber" jdbcType="INTEGER" />
    <result column="SOURCE" property="source" jdbcType="VARCHAR" />
    <result column="PV" property="pv" jdbcType="INTEGER" />
    <result column="UV" property="uv" jdbcType="INTEGER" />
    <result column="IP" property="ip" jdbcType="VARCHAR" />
    <result column="SITE_CODE" property="siteCode" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="startTime" property="startTime" jdbcType="VARCHAR" />
    <result column="endTime" property="endTime" jdbcType="VARCHAR" />
    <result column="siteName" property="siteName" jdbcType="VARCHAR" />
  <result column="PART_ID" property="partId" jdbcType="VARCHAR" />
    <result column="PART_NAME" property="partName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, DATE, HOUR, MINUTE, ORIGIN_ID, ORIGIN_NAME, CHANNEL_ID, CHANNEL_NAME, GLOBAL_ID, 
    CHINESE_NAME, PUB_DATE, TYPE, PLAY_TIME, TIME_LENGTH, PLAY_NUMBER, PLAY_USER_NUMBER, 
    SOURCE, PV, UV, IP, SITE_CODE, CREATE_TIME, PART_ID, PART_NAME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from log_xh_media_program_analysis_summary
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from log_xh_media_program_analysis_summary
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xh.media.model.LogXhMediaProgramAnalysis" >
    insert into log_xh_media_program_analysis_summary (ID, DATE, HOUR, 
      MINUTE, ORIGIN_ID, ORIGIN_NAME, 
      CHANNEL_ID, CHANNEL_NAME, GLOBAL_ID, 
      CHINESE_NAME, PUB_DATE, TYPE, 
      PLAY_TIME, TIME_LENGTH, PLAY_NUMBER, 
      PLAY_USER_NUMBER, SOURCE, PV, 
      UV, IP, SITE_CODE, CREATE_TIME, 
      PART_ID, PART_NAME)
    values (#{id,jdbcType=INTEGER}, #{date,jdbcType=VARCHAR}, #{hour,jdbcType=VARCHAR}, 
      #{minute,jdbcType=VARCHAR}, #{originId,jdbcType=VARCHAR}, #{originName,jdbcType=VARCHAR}, 
      #{channelId,jdbcType=VARCHAR}, #{channelName,jdbcType=VARCHAR}, #{globalId,jdbcType=VARCHAR}, 
      #{chineseName,jdbcType=VARCHAR}, #{pubDate,jdbcType=VARCHAR}, #{type,jdbcType=SMALLINT}, 
      #{playTime,jdbcType=INTEGER}, #{timeLength,jdbcType=INTEGER}, #{playNumber,jdbcType=INTEGER}, 
      #{playUserNumber,jdbcType=INTEGER}, #{source,jdbcType=VARCHAR}, #{pv,jdbcType=INTEGER}, 
      #{uv,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR}, #{siteCode,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{partId,jdbcType=VARCHAR}, #{partName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xh.media.model.LogXhMediaProgramAnalysis" >
    insert into log_xh_media_program_analysis_summary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="date != null" >
        DATE,
      </if>
      <if test="hour != null" >
        HOUR,
      </if>
      <if test="minute != null" >
        MINUTE,
      </if>
      <if test="originId != null" >
        ORIGIN_ID,
      </if>
      <if test="originName != null" >
        ORIGIN_NAME,
      </if>
      <if test="channelId != null" >
        CHANNEL_ID,
      </if>
      <if test="channelName != null" >
        CHANNEL_NAME,
      </if>
      <if test="globalId != null" >
        GLOBAL_ID,
      </if>
      <if test="chineseName != null" >
        CHINESE_NAME,
      </if>
      <if test="pubDate != null" >
        PUB_DATE,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="playTime != null" >
        PLAY_TIME,
      </if>
      <if test="timeLength != null" >
        TIME_LENGTH,
      </if>
      <if test="playNumber != null" >
        PLAY_NUMBER,
      </if>
      <if test="playUserNumber != null" >
        PLAY_USER_NUMBER,
      </if>
      <if test="source != null" >
        SOURCE,
      </if>
      <if test="pv != null" >
        PV,
      </if>
      <if test="uv != null" >
        UV,
      </if>
      <if test="ip != null" >
        IP,
      </if>
      <if test="siteCode != null" >
        SITE_CODE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="partId != null" >
        PART_ID,
      </if>
      <if test="partName != null" >
        PART_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="hour != null" >
        #{hour,jdbcType=VARCHAR},
      </if>
      <if test="minute != null" >
        #{minute,jdbcType=VARCHAR},
      </if>
      <if test="originId != null" >
        #{originId,jdbcType=VARCHAR},
      </if>
      <if test="originName != null" >
        #{originName,jdbcType=VARCHAR},
      </if>
      <if test="channelId != null" >
        #{channelId,jdbcType=VARCHAR},
      </if>
      <if test="channelName != null" >
        #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="globalId != null" >
        #{globalId,jdbcType=VARCHAR},
      </if>
      <if test="chineseName != null" >
        #{chineseName,jdbcType=VARCHAR},
      </if>
      <if test="pubDate != null" >
        #{pubDate,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=SMALLINT},
      </if>
      <if test="playTime != null" >
        #{playTime,jdbcType=INTEGER},
      </if>
      <if test="timeLength != null" >
        #{timeLength,jdbcType=INTEGER},
      </if>
      <if test="playNumber != null" >
        #{playNumber,jdbcType=INTEGER},
      </if>
      <if test="playUserNumber != null" >
        #{playUserNumber,jdbcType=INTEGER},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="pv != null" >
        #{pv,jdbcType=INTEGER},
      </if>
      <if test="uv != null" >
        #{uv,jdbcType=INTEGER},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="siteCode != null" >
        #{siteCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="partId != null" >
        #{partId,jdbcType=VARCHAR},
      </if>
      <if test="partName != null" >
        #{partName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xh.media.model.LogXhMediaProgramAnalysis" >
    update log_xh_media_program_analysis_summary
    <set >
      <if test="date != null" >
        DATE = #{date,jdbcType=VARCHAR},
      </if>
      <if test="hour != null" >
        HOUR = #{hour,jdbcType=VARCHAR},
      </if>
      <if test="minute != null" >
        MINUTE = #{minute,jdbcType=VARCHAR},
      </if>
      <if test="originId != null" >
        ORIGIN_ID = #{originId,jdbcType=VARCHAR},
      </if>
      <if test="originName != null" >
        ORIGIN_NAME = #{originName,jdbcType=VARCHAR},
      </if>
      <if test="channelId != null" >
        CHANNEL_ID = #{channelId,jdbcType=VARCHAR},
      </if>
      <if test="channelName != null" >
        CHANNEL_NAME = #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="globalId != null" >
        GLOBAL_ID = #{globalId,jdbcType=VARCHAR},
      </if>
      <if test="chineseName != null" >
        CHINESE_NAME = #{chineseName,jdbcType=VARCHAR},
      </if>
      <if test="pubDate != null" >
        PUB_DATE = #{pubDate,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=SMALLINT},
      </if>
      <if test="playTime != null" >
        PLAY_TIME = #{playTime,jdbcType=INTEGER},
      </if>
      <if test="timeLength != null" >
        TIME_LENGTH = #{timeLength,jdbcType=INTEGER},
      </if>
      <if test="playNumber != null" >
        PLAY_NUMBER = #{playNumber,jdbcType=INTEGER},
      </if>
      <if test="playUserNumber != null" >
        PLAY_USER_NUMBER = #{playUserNumber,jdbcType=INTEGER},
      </if>
      <if test="source != null" >
        SOURCE = #{source,jdbcType=VARCHAR},
      </if>
      <if test="pv != null" >
        PV = #{pv,jdbcType=INTEGER},
      </if>
      <if test="uv != null" >
        UV = #{uv,jdbcType=INTEGER},
      </if>
      <if test="ip != null" >
        IP = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="siteCode != null" >
        SITE_CODE = #{siteCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="partId != null" >
        PART_ID = #{partId,jdbcType=VARCHAR},
      </if>
      <if test="partName != null" >
        PART_NAME = #{partName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xh.media.model.LogXhMediaProgramAnalysis" >
    update log_xh_media_program_analysis_summary
    set DATE = #{date,jdbcType=VARCHAR},
      HOUR = #{hour,jdbcType=VARCHAR},
      MINUTE = #{minute,jdbcType=VARCHAR},
      ORIGIN_ID = #{originId,jdbcType=VARCHAR},
      ORIGIN_NAME = #{originName,jdbcType=VARCHAR},
      CHANNEL_ID = #{channelId,jdbcType=VARCHAR},
      CHANNEL_NAME = #{channelName,jdbcType=VARCHAR},
      GLOBAL_ID = #{globalId,jdbcType=VARCHAR},
      CHINESE_NAME = #{chineseName,jdbcType=VARCHAR},
      PUB_DATE = #{pubDate,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=SMALLINT},
      PLAY_TIME = #{playTime,jdbcType=INTEGER},
      TIME_LENGTH = #{timeLength,jdbcType=INTEGER},
      PLAY_NUMBER = #{playNumber,jdbcType=INTEGER},
      PLAY_USER_NUMBER = #{playUserNumber,jdbcType=INTEGER},
      SOURCE = #{source,jdbcType=VARCHAR},
      PV = #{pv,jdbcType=INTEGER},
      UV = #{uv,jdbcType=INTEGER},
      IP = #{ip,jdbcType=VARCHAR},
      SITE_CODE = #{siteCode,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      PART_ID = #{partId,jdbcType=VARCHAR},
      PART_NAME = #{partName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getvideoanalysislist" resultMap="BaseResultMap">
    SELECT DATE,source, origin_id,origin_name,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE,SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,SUM(pv) AS PV,SUM(uv) AS UV,SUM(ip) AS IP, site_code 
    FROM log_xh_media_program_analysis_summary  WHERE TYPE = 1 GROUP BY date,GLOBAL_ID,origin_id,site_code ORDER BY date DESC ,PLAY_NUMBER DESC LIMIT 50
  </select>
  
    <select id="getProgramanalysislist" resultMap="BaseResultMap">
    SELECT DATE,source, origin_id,origin_name,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE,SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,SUM(pv) AS PV,SUM(uv) AS UV,SUM(ip) AS IP, site_code 
    FROM log_xh_media_program_analysis_summary  WHERE TYPE IN (1,2)  GROUP BY date,GLOBAL_ID,origin_id,site_code ORDER BY  date DESC  ,PV DESC LIMIT 50
  </select>
  
  <select id="getVideoAnalysisListBySearch" resultMap="BaseResultMap">
   SELECT DATE, source,origin_id,origin_name,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE,SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,SUM(pv) AS PV,SUM(uv) AS UV,SUM(ip) AS IP, site_code 
    FROM log_xh_media_program_analysis_summary  WHERE TYPE = 1 AND
    <if test="siteCode != null" >
        site_code = #{siteCode,jdbcType=VARCHAR} AND 
    </if>
    <if test="channelId != null" >
        channel_id = #{channelId,jdbcType=VARCHAR} AND 
    </if>
    date between #{startTime,jdbcType=VARCHAR} AND #{endTime,jdbcType=VARCHAR} GROUP BY date,GLOBAL_ID,origin_id,site_code ORDER BY date DESC ,PLAY_NUMBER DESC
  </select>
  
    <select id="getProgramAnalysisListBySearch" resultMap="BaseResultMap">
   SELECT DATE, source,origin_id,origin_name,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE,SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,SUM(pv) AS PV,SUM(uv) AS UV,SUM(ip) AS IP, site_code 
    FROM log_xh_media_program_analysis_summary  WHERE TYPE IN (1,2) AND
    <if test="siteCode != null" >
        site_code = #{siteCode,jdbcType=VARCHAR} AND 
    </if>
    <if test="channelId != null" >
        channel_id = #{channelId,jdbcType=VARCHAR} AND 
    </if>
    date between #{startTime,jdbcType=VARCHAR} AND #{endTime,jdbcType=VARCHAR} GROUP BY date,GLOBAL_ID,origin_id,site_code ORDER BY date DESC ,PV DESC 
  </select>
  
  <select id="getNativeVideoAnalysisList" resultMap="BaseResultMap">
    SELECT DATE,source, origin_id,origin_name,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE,SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,SUM(pv) AS PV,SUM(uv) AS UV,SUM(ip) AS IP, site_code 
    FROM log_xh_media_program_analysis_summary  WHERE TYPE = 1 AND SOURCE=0  GROUP BY date,GLOBAL_ID,origin_id,site_code ORDER BY date DESC ,PLAY_NUMBER DESC LIMIT 50
  </select>
  
    <select id="getRecommendVideoAnalysisList" resultMap="BaseResultMap">
    SELECT DATE,source, origin_id,origin_name,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE,SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,SUM(pv) AS PV,SUM(uv) AS UV,SUM(ip) AS IP, site_code 
    FROM log_xh_media_program_analysis_summary  WHERE TYPE = 1 AND SOURCE>0  GROUP BY date,GLOBAL_ID,origin_id,site_code ORDER BY date DESC ,PLAY_NUMBER DESC LIMIT 50
  </select>
  
   <select id="getNativeProgramAnalysisList" resultMap="BaseResultMap">
    SELECT DATE,source, origin_id,origin_name,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE,SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,SUM(pv) AS PV,SUM(uv) AS UV,SUM(ip) AS IP, site_code 
    FROM log_xh_media_program_analysis_summary  WHERE TYPE IN (1,2) AND SOURCE=0  GROUP BY date,GLOBAL_ID,origin_id,site_code ORDER BY date DESC ,PV DESC  LIMIT 50
  </select>
  
    <select id="getRecommendProgramAnalysisList" resultMap="BaseResultMap">
    SELECT DATE, source,origin_id,origin_name,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE,SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,SUM(pv) AS PV,SUM(uv) AS UV,SUM(ip) AS IP, site_code 
    FROM log_xh_media_program_analysis_summary  WHERE TYPE IN (1,2) AND SOURCE>0  GROUP BY date,GLOBAL_ID,origin_id,site_code ORDER BY date DESC ,PV DESC  LIMIT 50
  </select>
  
    <select id="getVideoAnalysisListBySearchOneDay" resultMap="BaseResultMap">
<!--    SELECT DATE,source, HOUR,origin_id,origin_name,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE,SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,SUM(pv) AS PV,SUM(uv) AS UV,SUM(ip) AS IP, site_code ,name as siteName
    FROM log_xh_media_program_analysis_summary si INNER JOIN sys_groups sg ON si.site_code=sg.id --> 
    
    SELECT DATE,source, HOUR,program.origin_id ,origin.ORIGIN_NAME AS ORIGIN_NAME,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE,SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,SUM(pv) AS PV,SUM(uv) AS UV,SUM(ip) AS IP, program.site_code ,name as siteName
      FROM (log_xh_media_program_analysis_summary program INNER JOIN sys_groups groups ON (program.site_code=groups.id)) INNER JOIN index_xh_media_origin origin
   ON  (program.site_code=origin.site_code AND program.origin_id=origin.origin_id) 
    WHERE TYPE = 1 AND
    <if test="siteCode != null" >
        program.site_code = #{siteCode,jdbcType=VARCHAR} AND 
    </if>
    <if test="channelId != null" >
        channel_id = #{channelId,jdbcType=VARCHAR} AND 
    </if>
    <if test="globalId != null" >
        global_id = #{globalId,jdbcType=VARCHAR} AND 
    </if>
        program.SITE_CODE in
    <foreach collection="sitcodList" index="index" item="item" open="(" separator="," close=")">
                #{item}       
    </foreach>  AND
    date between #{startTime,jdbcType=VARCHAR} AND #{endTime,jdbcType=VARCHAR} GROUP BY GLOBAL_ID,HOUR,program.origin_id
     ORDER BY 
      <foreach collection="orderList" index="index" item="item" separator=",">
                ${item}       
    </foreach>
  </select>
  
    <select id="getProgramAnalysisListBySearchOneDay" resultMap="BaseResultMap">
   SELECT DATE,source, HOUR,origin_id,origin_name,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE,SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,SUM(pv) AS PV,SUM(uv) AS UV,SUM(ip) AS IP, site_code ,name as siteName
    FROM log_xh_media_program_analysis_summary si INNER JOIN sys_groups sg ON si.site_code=sg.id WHERE TYPE IN (1,2) AND
    <if test="siteCode != null" >
        site_code = #{siteCode,jdbcType=VARCHAR} AND 
    </if>
    <if test="channelId != null" >
        channel_id = #{channelId,jdbcType=VARCHAR} AND 
    </if>
    <if test="globalId != null" >
        global_id = #{globalId,jdbcType=VARCHAR} AND 
    </if>
        SITE_CODE in
    <foreach collection="sitcodList" index="index" item="item" open="(" separator="," close=")">
                #{item}       
    </foreach>  AND
    date between #{startTime,jdbcType=VARCHAR} AND #{endTime,jdbcType=VARCHAR} GROUP BY date,HOUR,GLOBAL_ID,origin_id
     ORDER BY 
      <foreach collection="orderList" index="index" item="item" separator=",">
                ${item}       
    </foreach>
  </select>
  
    <select id="getVideoDetail" resultMap="BaseResultMap">
    SELECT DATE,source, origin_id,origin_name,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE,SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,SUM(pv) AS PV,SUM(uv) AS UV,SUM(ip) AS IP, site_code 
    FROM log_xh_media_program_analysis_summary  WHERE TYPE = 1 AND 
    <if test="globalId != null" >
        GLOBAL_ID = #{globalId,jdbcType=VARCHAR} 
    </if>
     GROUP BY date,GLOBAL_ID,origin_id,site_code ORDER BY date DESC ,PLAY_NUMBER DESC LIMIT 50
  </select>
  
      <select id="getProgramDetail" resultMap="BaseResultMap">
    SELECT DATE,source, origin_id,origin_name,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE,SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,SUM(pv) AS PV,SUM(uv) AS UV,SUM(ip) AS IP, site_code 
    FROM log_xh_media_program_analysis_summary  WHERE TYPE IN (1,2) AND 
     <if test="globalId != null" >
        GLOBAL_ID = #{globalId,jdbcType=VARCHAR} 
    </if>
     GROUP BY date,GLOBAL_ID,origin_id,site_code ORDER BY date DESC  ,PV DESC LIMIT 50
  </select>
  
    <select id="getVideoDetailBySearch" resultMap="BaseResultMap">
   SELECT DATE,source, origin_id,origin_name,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE,SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,SUM(pv) AS PV,SUM(uv) AS UV,SUM(ip) AS IP, site_code 
    FROM log_xh_media_program_analysis_summary  WHERE TYPE = 1 AND
    <if test="globalId != null" >
        GLOBAL_ID = #{globalId,jdbcType=VARCHAR} AND
    </if>
    date between #{startTime,jdbcType=VARCHAR} AND #{endTime,jdbcType=VARCHAR} GROUP BY date,GLOBAL_ID ORDER BY date DESC ,PLAY_NUMBER DESC
  </select>
  
   <select id="getVideoDetailBySearchOneDay" resultMap="BaseResultMap">
<!--    SELECT DATE,HOUR, source,origin_id,origin_name,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,
   TYPE,SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,
   SUM(pv) AS PV,SUM(uv) AS UV,SUM(ip) AS IP, site_code ,name as siteName
    FROM log_xh_media_program_analysis_summary si INNER JOIN sys_groups sg ON si.site_code=sg.id  -->
    
   SELECT DATE,HOUR,source, program.origin_id ,origin.ORIGIN_NAME AS ORIGIN_NAME,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE, 
   SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,
   SUM(pv) AS PV,SUM(uv) AS UV,SUM(ip) AS IP, program.site_code ,NAME AS siteName
      FROM (log_xh_media_program_analysis_summary program INNER JOIN sys_groups groups ON (program.site_code=groups.id)) INNER JOIN index_xh_media_origin origin
   ON  (program.site_code=origin.site_code AND program.origin_id=origin.origin_id) 
    WHERE TYPE = 1 AND
    <if test="globalId != null" >
        GLOBAL_ID = #{globalId,jdbcType=VARCHAR} AND
    </if>
     <if test="siteCode != null" >
        program.site_code = #{siteCode,jdbcType=VARCHAR} AND
    </if>
    date between #{startTime,jdbcType=VARCHAR} AND #{endTime,jdbcType=VARCHAR} GROUP BY date,HOUR,GLOBAL_ID,origin_id ORDER BY
      <foreach collection="orderList" index="index" item="item" separator=",">
                ${item}       
    </foreach>
  </select>
  
   <select id="getProgramDetailBySearch" resultMap="BaseResultMap">
   SELECT DATE, source,origin_id,origin_name,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE,SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,SUM(pv) AS PV,SUM(uv) AS UV,SUM(ip) AS IP, site_code 
    FROM log_xh_media_program_analysis_summary  WHERE TYPE IN (1,2) AND
    <if test="globalId != null" >
        GLOBAL_ID = #{globalId,jdbcType=VARCHAR} AND
    </if>
    date between #{startTime,jdbcType=VARCHAR} AND #{endTime,jdbcType=VARCHAR} GROUP BY date,GLOBAL_ID ORDER BY date DESC ,PV DESC 
  </select>
  
  <select id="getProgramDetailBySearchOneDay" resultMap="BaseResultMap">
<!--    SELECT DATE,HOUR,source, origin_id,origin_name,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE,
   SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,SUM(pv) AS PV,
   SUM(uv) AS UV,SUM(ip) AS IP, site_code,name as siteName 
    FROM log_xh_media_program_analysis_summary si INNER JOIN sys_groups sg ON si.site_code=sg.id --> 
        
   SELECT DATE,HOUR,source, program.origin_id ,origin.ORIGIN_NAME AS ORIGIN_NAME,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE, 
    SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,SUM(pv) AS PV,
   SUM(uv) AS UV,SUM(ip) AS IP, program.site_code ,NAME AS siteName
      FROM (log_xh_media_program_analysis_summary program INNER JOIN sys_groups groups ON (program.site_code=groups.id)) INNER JOIN index_xh_media_origin origin
   ON  (program.site_code=origin.site_code AND program.origin_id=origin.origin_id) 
    WHERE TYPE IN (1,2) AND
    <if test="globalId != null" >
        GLOBAL_ID = #{globalId,jdbcType=VARCHAR} AND
    </if>
    date between #{startTime,jdbcType=VARCHAR} AND #{endTime,jdbcType=VARCHAR} GROUP BY date,hour,GLOBAL_ID,origin_id
     ORDER BY 
      <foreach collection="orderList" index="index" item="item" separator=",">
                ${item}       
    </foreach>
  </select>
  
    <select id="getNativeVideoDetail" resultMap="BaseResultMap">
    SELECT DATE, source,origin_id,origin_name,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE,SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,SUM(pv) AS PV,SUM(uv) AS UV,SUM(ip) AS IP, site_code 
    FROM log_xh_media_program_analysis_summary  WHERE TYPE = 1 AND SOURCE=0  AND
    <if test="globalId != null" >
        GLOBAL_ID = #{globalId,jdbcType=VARCHAR} 
    </if>
    GROUP BY date,GLOBAL_ID,origin_id,site_code ORDER BY date DESC ,PLAY_NUMBER DESC  LIMIT 50
  </select>
  
    <select id="getRecommendVideoDetail" resultMap="BaseResultMap">
    SELECT DATE,source, origin_id,origin_name,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE,SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,SUM(pv) AS PV,SUM(uv) AS UV,SUM(ip) AS IP, site_code 
    FROM log_xh_media_program_analysis_summary  WHERE TYPE = 1 AND SOURCE>0  AND
    <if test="globalId != null" >
        GLOBAL_ID = #{globalId,jdbcType=VARCHAR} 
    </if>
    GROUP BY date,GLOBAL_ID,origin_id,site_code ORDER BY date DESC ,PLAY_NUMBER DESC LIMIT 50
  </select>
  
   <select id="getNativeProgramDetail" resultMap="BaseResultMap">
    SELECT DATE,source, origin_id,origin_name,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE,SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,SUM(pv) AS PV,SUM(uv) AS UV,SUM(ip) AS IP, site_code 
    FROM log_xh_media_program_analysis_summary  WHERE TYPE IN (1,2) AND SOURCE=0  AND
    <if test="globalId != null" >
        GLOBAL_ID = #{globalId,jdbcType=VARCHAR} 
    </if>
    GROUP BY date,GLOBAL_ID,origin_id,site_code ORDER BY date DESC ,PV DESC  LIMIT 50
  </select>
  
    <select id="getRecommendProgramDetail" resultMap="BaseResultMap">
    SELECT DATE,source, origin_id,origin_name,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE,SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,SUM(pv) AS PV,SUM(uv) AS UV,SUM(ip) AS IP, site_code 
    FROM log_xh_media_program_analysis_summary  WHERE TYPE IN (1,2) AND SOURCE>0 AND
    <if test="globalId != null" >
        GLOBAL_ID = #{globalId,jdbcType=VARCHAR} 
    </if>
    GROUP BY date,GLOBAL_ID,origin_id,site_code ORDER BY date DESC  ,PV DESC LIMIT 50
  </select>
  
   <select id="getVideoAnalysisListForCharts" resultMap="BaseResultMap">
    SELECT DATE,source, origin_id,origin_name,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE,SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,SUM(pv) AS PV,SUM(uv) AS UV,SUM(ip) AS IP, site_code 
    FROM log_xh_media_program_analysis_summary  WHERE TYPE = 1 GROUP BY date ORDER BY date ASC ,PLAY_NUMBER DESC
  </select>
  
  <select id="getVideoAnalysisListBySearchForCharts" resultMap="BaseResultMap">
   SELECT DATE, source,origin_id,origin_name,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE,SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,SUM(pv) AS PV,SUM(uv) AS UV,SUM(ip) AS IP, site_code 
    FROM log_xh_media_program_analysis_summary  WHERE TYPE = 1 AND
    <if test="siteCode != null" >
        site_code = #{siteCode,jdbcType=VARCHAR} AND 
    </if>
    <if test="channelId != null" >
        channel_id = #{channelId,jdbcType=VARCHAR} AND 
    </if>
    date between #{startTime,jdbcType=VARCHAR} AND #{endTime,jdbcType=VARCHAR} GROUP BY date ORDER BY date ASC ,PLAY_NUMBER DESC
  </select>
  
      <select id="getVideoAnalysisListBySearchOneDayForCharts" resultMap="BaseResultMap">
   SELECT DATE,minute,source, HOUR,origin_id,origin_name,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE,SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,SUM(pv) AS PV,SUM(uv) AS UV,SUM(ip) AS IP, site_code 
    FROM log_xh_media_program_analysis_summary  WHERE TYPE = 1 AND
    <if test="siteCode != null" >
        site_code = #{siteCode,jdbcType=VARCHAR} AND 
    </if>
    <if test="channelId != null" >
        channel_id = #{channelId,jdbcType=VARCHAR} AND 
    </if>
    <if test="globalId != null" >
        global_id = #{globalId,jdbcType=VARCHAR} AND 
    </if>
        SITE_CODE in
    <foreach collection="sitcodList" index="index" item="item" open="(" separator="," close=")">
                #{item}       
    </foreach>  AND
    date between #{startTime,jdbcType=VARCHAR} AND #{endTime,jdbcType=VARCHAR} GROUP BY HOUR,MINUTE ORDER BY HOUR ASC,MINUTE ASC ,PLAY_NUMBER DESC
  </select>
  
     <select id="getProgramAnalysisListForCharts" resultMap="BaseResultMap">
    SELECT DATE,source, origin_id,origin_name,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE,SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,SUM(pv) AS PV,SUM(uv) AS UV,SUM(ip) AS IP, site_code 
    FROM log_xh_media_program_analysis_summary  WHERE TYPE IN (1,2) GROUP BY date ORDER BY date  ASC,PV DESC 
  </select>
  
  <select id="getProgramAnalysisListBySearchForCharts" resultMap="BaseResultMap">
   SELECT DATE, source,origin_id,origin_name,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE,SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,SUM(pv) AS PV,SUM(uv) AS UV,SUM(ip) AS IP, site_code 
    FROM log_xh_media_program_analysis_summary  WHERE TYPE IN (1,2) AND
    <if test="siteCode != null" >
        site_code = #{siteCode,jdbcType=VARCHAR} AND 
    </if>
    <if test="channelId != null" >
        channel_id = #{channelId,jdbcType=VARCHAR} AND 
    </if>
    date between #{startTime,jdbcType=VARCHAR} AND #{endTime,jdbcType=VARCHAR} GROUP BY date ORDER BY date ,PV DESC 
  </select>
  
  <select id="getProgramAnalysisListBySearchOneDayForCharts" resultMap="BaseResultMap">
   SELECT DATE,minute,source, HOUR,origin_id,origin_name,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE,SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,SUM(pv) AS PV,SUM(uv) AS UV,SUM(ip) AS IP, site_code 
    FROM log_xh_media_program_analysis_summary  WHERE TYPE IN (1,2) AND
    <if test="siteCode != null" >
        site_code = #{siteCode,jdbcType=VARCHAR} AND 
    </if>
    <if test="channelId != null" >
        channel_id = #{channelId,jdbcType=VARCHAR} AND 
    </if>
    <if test="globalId != null" >
        global_id = #{globalId,jdbcType=VARCHAR} AND 
    </if>
        SITE_CODE in
    <foreach collection="sitcodList" index="index" item="item" open="(" separator="," close=")">
                #{item}       
    </foreach>  AND
    date between #{startTime,jdbcType=VARCHAR} AND #{endTime,jdbcType=VARCHAR}  GROUP BY HOUR,MINUTE ORDER BY HOUR ASC,MINUTE ASC ,PV DESC 
  </select>
  
        <select id="getProgramAnalysisListBySearchOneDayForChartsPie" resultMap="BaseResultMap">
   SELECT DATE,source, HOUR,origin_id,origin_name,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE,SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,SUM(pv) AS PV,SUM(uv) AS UV,SUM(ip) AS IP, site_code 
    FROM log_xh_media_program_analysis_summary  WHERE TYPE IN (1,2) AND
    <if test="siteCode != null" >
        site_code = #{siteCode,jdbcType=VARCHAR} AND 
    </if>
    <if test="channelId != null" >
        channel_id = #{channelId,jdbcType=VARCHAR} AND 
    </if>
    <if test="globalId != null" >
        global_id = #{globalId,jdbcType=VARCHAR} AND 
    </if>
        SITE_CODE in
    <foreach collection="sitcodList" index="index" item="item" open="(" separator="," close=")">
                #{item}       
    </foreach>  AND
    date between #{startTime,jdbcType=VARCHAR} AND #{endTime,jdbcType=VARCHAR}  GROUP BY CHANNEL_ID ORDER BY PV DESC
  </select>
  
      <select id="getVideoDetailForChart" resultMap="BaseResultMap">
    SELECT DATE, source,origin_id,origin_name,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE,SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,SUM(pv) AS PV,SUM(uv) AS UV,SUM(ip) AS IP, site_code 
    FROM log_xh_media_program_analysis_summary  WHERE TYPE = 1 AND
    <if test="globalId != null" >
        GLOBAL_ID = #{globalId,jdbcType=VARCHAR} 
    </if>
    GROUP BY date ORDER BY date ASC ,PLAY_NUMBER DESC 
  </select>
  
        <select id="getProgramDetailForChart" resultMap="BaseResultMap">
    SELECT DATE, source,origin_id,origin_name,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE,SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,SUM(pv) AS PV,SUM(uv) AS UV,SUM(ip) AS IP, site_code 
    FROM log_xh_media_program_analysis_summary  WHERE TYPE in (1,2) AND
    <if test="globalId != null" >
        GLOBAL_ID = #{globalId,jdbcType=VARCHAR} 
    </if>
    GROUP BY date ORDER BY date  ,PV DESC 
  </select>
  
   <select id="getVideoDetailChartBySearch" resultMap="BaseResultMap">
   SELECT DATE,source, origin_id,origin_name,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE,SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,SUM(pv) AS PV,SUM(uv) AS UV,SUM(ip) AS IP, site_code 
    FROM log_xh_media_program_analysis_summary  WHERE TYPE = 1 AND
    <if test="globalId != null" >
        GLOBAL_ID = #{globalId,jdbcType=VARCHAR} AND
    </if>
    date between #{startTime,jdbcType=VARCHAR} AND #{endTime,jdbcType=VARCHAR} GROUP BY date ORDER BY date ASC ,PLAY_NUMBER DESC
  </select>
  
   <select id="getVideoDetailChartBySearchOneDay" resultMap="BaseResultMap">
   SELECT DATE,HOUR, MINUTE,source,origin_id,origin_name,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE,SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,SUM(pv) AS PV,SUM(uv) AS UV,SUM(ip) AS IP, site_code 
    FROM log_xh_media_program_analysis_summary  WHERE TYPE = 1 AND
    <if test="globalId != null" >
        GLOBAL_ID = #{globalId,jdbcType=VARCHAR} AND
    </if>
     <if test="siteCode != null" >
        site_code = #{siteCode,jdbcType=VARCHAR} AND
    </if>
    date between #{startTime,jdbcType=VARCHAR} AND #{endTime,jdbcType=VARCHAR} GROUP BY HOUR,MINUTE ORDER BY HOUR ASC,MINUTE ASC,PLAY_NUMBER DESC
  </select>
  
   <select id="getProgramDetailChartBySearch" resultMap="BaseResultMap">
   SELECT DATE, source,origin_id,origin_name,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE,SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,SUM(pv) AS PV,SUM(uv) AS UV,SUM(ip) AS IP, site_code 
    FROM log_xh_media_program_analysis_summary  WHERE TYPE IN (1,2) AND
    <if test="globalId != null" >
        GLOBAL_ID = #{globalId,jdbcType=VARCHAR} AND
    </if>
    date between #{startTime,jdbcType=VARCHAR} AND #{endTime,jdbcType=VARCHAR} GROUP BY date ORDER BY date 
  </select>
  
  <select id="getProgramDetailChartBySearchOneDay" resultMap="BaseResultMap">
   SELECT DATE,HOUR,minute,source, origin_id,origin_name,channel_id,channel_name,CHINESE_NAME,GLOBAL_ID,FROM_UNIXTIME(pub_date) AS pub_date,TYPE,SUM(PLAY_TIME) AS PLAY_TIME,SUM(TIME_LENGTH) AS TIME_LENGTH,SUM(PLAY_NUMBER) AS PLAY_NUMBER,SUM(PLAY_USER_NUMBER) AS PLAY_USER_NUMBER,SUM(pv) AS PV,SUM(uv) AS UV,SUM(ip) AS IP, site_code 
    FROM log_xh_media_program_analysis_summary  WHERE TYPE IN (1,2) AND
    <if test="globalId != null" >
        GLOBAL_ID = #{globalId,jdbcType=VARCHAR} AND
    </if>
     <if test="siteCode != null" >
        site_code = #{siteCode,jdbcType=VARCHAR} AND
    </if>
    date between #{startTime,jdbcType=VARCHAR} AND #{endTime,jdbcType=VARCHAR} GROUP BY HOUR,MINUTE ORDER BY HOUR ASC,MINUTE ASC,PV DESC 
  </select>
  
    <select id="getProgramDetailChartPieBySearchOneDay" resultMap="BaseResultMap">
   SELECT CHANNEL_NAME, CHANNEL_ID ,SUM(pv) AS pv ,SUM(uv) AS uv
       FROM log_xh_media_program_analysis_summary  WHERE TYPE IN (1,2) AND
    <if test="globalId != null" >
        GLOBAL_ID = #{globalId,jdbcType=VARCHAR} AND
    </if>
    <if test="siteCode != null" >
        site_code = #{siteCode,jdbcType=VARCHAR} AND
    </if>
    date between #{startTime,jdbcType=VARCHAR} AND #{endTime,jdbcType=VARCHAR} GROUP BY CHANNEL_ID ORDER BY hour ASC ,PV DESC 
  </select>
</mapper>