<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xh.media.dao.IndexXhMediaOriginMapper" >
  <resultMap id="BaseResultMap" type="com.xh.media.model.IndexXhMediaOrigin" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="ORIGIN_ID" property="originId" jdbcType="VARCHAR" />
    <result column="ORIGIN_NAME" property="originName" jdbcType="VARCHAR" />
    <result column="SITE_CODE" property="siteCode" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="TINYINT" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ORIGIN_ID, ORIGIN_NAME, SITE_CODE, STATUS, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from index_xh_media_origin
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from index_xh_media_origin
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xh.media.model.IndexXhMediaOrigin" >
    insert into index_xh_media_origin (ID, ORIGIN_ID, ORIGIN_NAME, 
      SITE_CODE, STATUS, CREATE_TIME
      )
    values (#{id,jdbcType=INTEGER}, #{originId,jdbcType=VARCHAR}, #{originName,jdbcType=VARCHAR}, 
      #{siteCode,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xh.media.model.IndexXhMediaOrigin" >
    insert into index_xh_media_origin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="originId != null" >
        ORIGIN_ID,
      </if>
      <if test="originName != null" >
        ORIGIN_NAME,
      </if>
      <if test="siteCode != null" >
        SITE_CODE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="originId != null" >
        #{originId,jdbcType=VARCHAR},
      </if>
      <if test="originName != null" >
        #{originName,jdbcType=VARCHAR},
      </if>
      <if test="siteCode != null" >
        #{siteCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xh.media.model.IndexXhMediaOrigin" >
    update index_xh_media_origin
    <set >
      <if test="originId != null" >
        ORIGIN_ID = #{originId,jdbcType=VARCHAR},
      </if>
      <if test="originName != null" >
        ORIGIN_NAME = #{originName,jdbcType=VARCHAR},
      </if>
      <if test="siteCode != null" >
        SITE_CODE = #{siteCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xh.media.model.IndexXhMediaOrigin" >
    update index_xh_media_origin
    set ORIGIN_ID = #{originId,jdbcType=VARCHAR},
      ORIGIN_NAME = #{originName,jdbcType=VARCHAR},
      SITE_CODE = #{siteCode,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=TINYINT},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getAllOrigin" resultMap="BaseResultMap">
  	SELECT 
    <include refid="Base_Column_List" />
    FROM index_xh_media_origin GROUP BY ORIGIN_ID ORDER BY ORIGIN_ID
  </select>
  
  <select id="getAllOriginBySiteCode" resultMap="BaseResultMap">
  	SELECT 
    <include refid="Base_Column_List" />
    FROM index_xh_media_origin WHERE site_code=#{0} GROUP BY ORIGIN_ID ORDER BY ORIGIN_ID
  </select>
  
  <select id="getOriginNameByOriginId" resultType="java.lang.String">
      SELECT origin_name FROM index_xh_media_origin WHERE origin_id=#{0} LIMIT 1
  </select>
</mapper>